<h1>Results:</h1>

{{!-- Display all bands --}}
<div class="list-of-bands">
  {{#each bands}}
  <div>
    <a href="/bands/{{_id}}"><h2>{{name}}</h2></a>
    <img src={{imageUrl}} alt={{name}} "picture" width=300px height="auto">
  </div>
  {{/each}}
</div>

{{#unless bands}}
{{!-- Create a Band --}}
<div>
<h2> Your band is not registered yet at Rock Rock Rock, but you can create it! </h2>
<br>
<a href="/bands/new-band"><button>Create a Band!</button></a>
</div>
{{/unless}}

<br>

<div>
<a href="bands"><button>Go back</button></a>
</div>