<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <img
        class="logo"
        src="https://res.cloudinary.com/djwmauhbh/image/upload/v1670351088/rock-page-images/logoWhiteRockRockRock_vhjsfw.png"
        alt="logo"
      />

      <nav>
        <ul class="nav-links">
          <li><a href="/"> Home</a></li>
          <li><a href="/artists"> Artists</a></li>
          <li><a href="/bands"> Bands</a></li>
        </ul>
      </nav>
      <section class="nav-buttons">
        <a href="/login"><button>Login</button></a>
        <a href="/sign-up"><button>Sign up</button></a>
      </section>
    </header>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>