<div id="form">
  <h2>Login</h2>
  <br />

<div>
  <form action="/login" method="POST">
    <label for="email">E-mail:</label><br />
    <input type="text" id="email" name="email" /><br /><br />

    <label for="password">Password:</label><br />
    <input type="password" id="password" name="password" /><br /><br />

      <button type="submit">Login</button>
    <br />
  </form>
</div>

  

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>