<h2>Log in</h2>
<div>
  <form action="/login" method="POST">
    <label for="email">E-mail:</label><br />
    <input type="text" id="email" name="email" /><br /><br />
    <label for="password">Password:</label><br />
    <input type="text" id="password" name="password" /><br /><br />
    <input type="submit" value="Submit" />
    <br />
  </form>
</div>