<h1>Results:</h1>
<br>

{{!-- Display all artists --}}
<div class="list-of-bands">
  {{#each artists}}
  <div>
    <a href="/artists/{{_id}}"><h2>{{name}}</h2></a>
    <br>
    <img src={{imageUrl}} alt={{name}} "picture" width=300px height="auto">
    <br>
  </div>
  {{/each}}
</div>

{{#unless artists}}
{{!-- Create a Band --}}
<div>
<h2> Your artist is not registered yet at Rock Rock Rock, but you can create it! </h2>
<br>
<a href="/bands/new-artist"><button class="regular-btn">Create an artist!</button></a>
</div>
{{/unless}}
<br>

<div>
<a href="/artists"><button class="regular-btn">Go back</button></a>
</div>