{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <br />

  <p>This is your profile page rockstar!</p>
  <br />

  <div>
    <a href="/user-profile"><button class="regular-btn">Reload the page</button></a>
  </div>
  <br />

{{else}}
  <br /><p>Still no logged in user, sorry!</p>
{{/if}}