@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

li,
p,
a,
form,
label,
input,
option,
textarea,
.regular-btn,
.nav-buttons {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}



a {
  color: #00b7ff;
}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 08px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  transition: all 0.3s ease 0s;
  color: #0088a9;
}

#logout-form,
.nav-buttons {
  display: inline-block;
  padding: 0px 20px;
}
.regular-btn {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.regular-btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  color: #edf0f1;
}

.list-of-bands,
.list-of-artists {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.artist-star-rating {
  user-select: none;
}

.star {
  font-size: 1rem;
  color: yellow;
  padding: 0;
  background-color: unset;
  border: none;
  box-sizing: border-box;
}

.star:hover {
  cursor: pointer;
  background-color: unset;
}

.incomplete-field {
  color: red;
}

.profile-picture {
  width:  300px;
  height: 300px;
  object-fit: cover;
}

.s-profile-picture{
  width:  150px;
  height: 150px;
  object-fit: cover;
}

img{
  margin-bottom: 30px;
}

.profile-picture:hover, .s-profile-picture:hover{
  opacity: 0.5;
}

.fav-artists-container{
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}

#home-header {
  margin-left: 0;
  background-size: 100vw;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: url(https://res.cloudinary.com/djwmauhbh/image/upload/v1671231996/rock-page-images/Home_rkrwcu.webp);
  object-fit: cover;
}

.page-section {
  margin-left: 80px;
  margin-bottom: 30px;
}

.artist-results{
  margin-top: 20px;
}